

:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-name {
  padding: 3em;
}
.choose-name__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.choose-name__card {
  display: flex;
  width: 400px;
  justify-content: space-between;
  height: 200px;
  max-height: 200px;
}

.choose-name__player-list {
  flex-grow: 1;
  padding: 0 10px;
}
