<mat-card class="choose-name">
  <div class="choose-name__card">
    <form class="choose-name__form" (keyup.enter)="setUsername()">
      <h3>Name wählen</h3>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [formControl]="usernameFormControl">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="setUsername()">Start Game</button>
      <button mat-raised-button color="warn" (click)="reset()" >Reset</button>
    </form>
    <app-player-list class="choose-name__player-list"></app-player-list>
  </div>
</mat-card>
