<mat-card class="meiern-card">
  <a routerLink="/" class="backButton">
    <mat-icon>keyboard_backspace</mat-icon>
  </a>
  <div class="meiern-card__content-container">
    <div
      [hidden]="isHiddenDiceThrow()"
      #diceContainer
      class="meiern-card__dice-container"
    ></div>
    <div
      [hidden]="!isHiddenDiceThrow()"
      class="meiern-card__dice-container"
    ></div>
    <app-player-list></app-player-list>
  </div>
  Letzter spieler sagt: {{ lie }}
  <button
    [disabled]="!myTurn || isHiddenDiceThrow()"
    mat-raised-button
    color="primary"
    (click)="getDice()"
  >
    Würfeln
  </button>
  <label class="inputLabel">
    Weitergeben:
    <input
      [hidden]="!isHiddenDiceThrow()"
      [disabled]="!myTurn"
      #lieValue1
      matInput
      type="text"
      [value]="getNextCallValue()"
    />
    <input
      [hidden]="isHiddenDiceThrow()"
      [disabled]="!myTurn"
      #lieValue2
      matInput
      type="text"
      [value]="getNextCallValue()"
    />
  </label>
  <button
    [disabled]="!myTurn || diceRollCount >= 1"
    mat-raised-button
    color="primary"
    (click)="revealDice()"
  >
    Aufdecken
  </button>
  <button
    *ngIf="!isHiddenDiceThrow()"
    [disabled]="!myTurn || diceRollCount === 0"
    mat-raised-button
    color="primary"
    (click)="nextPlayer(lieValue2.value)"
  >
    Weiter Geben
  </button>
  <button
    *ngIf="isHiddenDiceThrow()"
    [disabled]="!myTurn || diceRollCount === 0"
    mat-raised-button
    color="primary"
    (click)="nextPlayer(lieValue1.value)"
  >
    Weiter Geben
  </button>
</mat-card>
