.meiern-card {
  height: 450px;
  width: 800px;
  display: flex;
  flex-direction: column;
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.meiern-card__content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  padding: 5px 0;
  width: 100%;
}

.meiern-card__dice-container {
  min-width: 200px;
}

.inputLabel {
  color: pr;
}

.backButton {
  background: transparent;
  border: none;
  color: orangered;
  text-align: left;
  width: min-content;
}
